@page "/vehicle/create"

@using CRUD_Blazor.Data
@inject VehicleService vehicleSerivce
@inject NavigationManager navigationManager

<h3>Create</h3>

<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Owner" class="control-label">Owner</label>
                <input form="Owner" class="form-control" @bind="@vehicle.Owner" />
            </div>
            <div class="form-group">
                <label for="Manufacturer" class="control-label">Manufacturer</label>
                <select @bind="@vehicle.Manufacturer" class="form-control">
                    @foreach(var manufacturer in Enum.GetValues(typeof(Manufacturer)))
                    {
                        <option value="@manufacturer">@manufacturer</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="ManufacturingYear" class="control-label">ManufacturingYear</label>
                <input form="ManufacturingYear" class="form-control" @bind="@vehicle.ManufacturingYear" />
            </div>
            <div class="form-group">
                <label for="Weight" class="control-label">Weight</label>
                <input form="Weight" class="form-control" @bind="@vehicle.Weight" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateVehicle" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />

            </div>
        </div>
    </div>
    @* Return if error *@
    @if (result != "")
    {
        <div class="row">
            <div class="alert alert-danger" role="alert">
                @result
            </div>
        </div>
    }
</form>

@code {
    Vehicle vehicle = new Vehicle();

    public string result { get; set; } = "";

    Manufacturer manufacturers = new Manufacturer();

    public void CreateVehicle()
    {
        result = vehicleSerivce.Create(vehicle);
        if (result == "")
        {
            navigationManager.NavigateTo("vehicle");
        }
    }

    void Cancel()
    {
        navigationManager.NavigateTo("vehicle");
    }
}
